page-update-post {
    .div{
        float: right;
    }
    
    .textarea{
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
        max-width: 100%; width: 100%; height: 40vh;
        background-color: #ffffcc;
        border: 1px solid #b7bbbd;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding: 4px;
    
    }
    .sendDiv{
        float: right;
    }
    
    .navbar{
        background-color: #ff9900;	
    }
    
    .navbarBody{
        height: 2px;
        border: 1px solid #b7bbbd;
        -webkit-border-radius: 5px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    
    }
    

}
