page-tabs {
    .tabs .tab-item .icon.mcfly {
        background-repeat: no-repeat;
        background-position: 50%;
        height: 100%;
        background-image: url('https://raw.github.com/driftyco/ionic-site/gh-pages/img/docs/mcfly.jpg');
        background-size:contain;
      }
}
