
<ion-header  >

    <ion-navbar>
        <ion-title >
            <span text-color="my-custom-color">Questions</span>
         </ion-title>
    </ion-navbar>
    <ion-searchbar  [(ngModel)]="terms" class="search" ></ion-searchbar>

   
 
  <!-- <ion-searchbar (ionInput)="getItems($event)" [(ngModel)]="selectedModule"></ion-searchbar> -->
  

</ion-header>


<ion-content padding (ionScroll)="onScroll($event)"  >



    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing..." >
           
        </ion-refresher-content>
      </ion-refresher>


        <ion-list >

          
            <ion-item (click)="provideAnswers(question)" *ngFor="let question of test | search : terms | sort: {property: column, order: order} "> 
              <ion-avatar item-start>
                <img src="{{question.imageURL}}">
              </ion-avatar>

        <div><b> <p  text-wrap>{{question?.title}}</p></b></div> 
            
         <div><i><p>{{question?.module}}</p></i></div>
       
         <p hidden>{{question.question}}</p>  
            </ion-item>
      
        
           </ion-list> 

           <ion-fab center bottom *ngIf="showMe" (click)="scroll()" class="myfab">
              <button ion-fab color="light" class="fabBtn">
                <ion-icon name="ios-arrow-up-outline"></ion-icon>
              </button>
            </ion-fab>
<!-- <ion-card *ngFor="let question of test"   style="background-color:#f7ddb8 ">
  <ion-card-content (click)="provideAnswers(question)">
      <ion-item>
          <ion-avatar item-start>
            <img src="{{question.imageURL}}">
          </ion-avatar>
        
     <h3><b>{{question?.module}}</b></h3>
     <h3><b> fff{{question?.$key}}</b></h3>
   
     <ion-badge color="ud"> <h4>{{question?.title}}</h4></ion-badge>
     <h3><b>{{question?.uid}}</b></h3>
    <p hidden>{{question.question}}</p> 
          
   </ion-item>

  
   </ion-card-content> 
   <ion-card-content *ngIf="buttonClicked">
    <ion-input class="comment" placeholder="comment here"></ion-input>
  </ion-card-content>
   <ion-row>
     
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button  (click)="addcomments(question)" ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments{{question?.$key.answer}}</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
 
      </ion-note>
    </ion-col>
  </ion-row> 


</ion-card>  -->


 <ion-fab right bottom>
    <button ion-fab mini (click)="addQuestions()" ><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>



