page-home {


/*
.havingQuestion{
    text-align: center;
}



.havingQuestionButton{
    background-color: #c1502e
}

.havingAnswersButton{
    background-color: #d5e1df
}

.studentHelpDesk{
    background-color: 
}*/

.havingQuestion{
    text-align: center;
    color:  #622569;
}

.havingAnswers{

    text-align: center;
    color:  #622569;
}


.helpDesk{
    text-align: center;
    color:  #622569;
}



    // .background-page{
    //     background-image: url('../assets/imgs/books.jpg');
    //     background-repeat: no-repeat;
    //     background-position: center;
        
    // }

    .div{
        float: right;
    }


}
