page-home {


/*
.havingQuestion{
    text-align: center;
}



.havingQuestionButton{
    background-color: #c1502e
}

.havingAnswersButton{
    background-color: #d5e1df
}

.studentHelpDesk{
    background-color: 
}*/

.havingQuestion{
    text-align: center;
    color:  #622569;
}

.havingAnswers{

    text-align: center;
    color:  #622569;
}


.helpDesk{
    text-align: center;
    color:  #622569;
}



    .background-page{
        background-image: url('../assets/imgs/image1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .div{
        float: right;
    }


}
