
<ion-header>

  <ion-navbar>
    <ion-title>My Questions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding (ionScroll)="onScroll($event)">

  <ion-list >

      <ion-item-sliding *ngFor="let myQuestion of MyQuestio_arr  "  >
        <ion-item (click)="viewAnswer(myQuestion,number)"> 
         

    <div><b> <p  text-wrap>{{myQuestion.module}}</p></b></div> 
        
     <div><i><p>{{myQuestion.title}}</p></i></div>
   
     <p hidden>{{myQuestion.question}}</p>  
        </ion-item>
        <ion-item-options side="right" >
            <button ion-button expandable color="theam"(click)="updateQuestion(myQuestion)"><ion-icon name="ios-create-outline"></ion-icon><div>Edit</div></button>
       </ion-item-options > 
       <ion-item-options side="left">
          <button ion-button expandable color="danger" (click)="deleteQuestion(myQuestion.$key)"> <ion-icon name="ios-trash-outline"></ion-icon><div>Delete</div></button>
       </ion-item-options>  
       </ion-item-sliding>
    
       </ion-list> 

       <ion-fab center bottom *ngIf="showMe" (click)="scroll()" class="myfab">
          <button ion-fab color="light" class="fabBtn">
            <ion-icon name="ios-arrow-up-outline"></ion-icon>
          </button>
        </ion-fab>

</ion-content>
