page-answers {

    .background{
        background-image: url('../assets/imgs/image1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .div{
        float: right;
    }
}
