<ion-header  >

  <ion-navbar class="navbar" color="theam" >
    <ion-title>Ask Quesions</ion-title>
    <ion-buttons end (click)="close()">
      <button ion-button>
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-buttons>


  </ion-navbar>

  <ion-toolbar [color]="light"  hidden>

      <ion-segment [(ngModel)]="selectedSegment"  style="background-color: #90CAF9" >
    
     
      </ion-segment>
    </ion-toolbar>

</ion-header>



<ion-content padding >
    <ion-input type="text" [(ngModel)]="currentUser" ></ion-input>
<p>Logged as:{{currentUser}}</p>
  <ion-item>
    <ion-label floating>Module</ion-label>
    <ion-input type="text"  [(ngModel)]="search" (click)="addSearchPage()"></ion-input>
  </ion-item>


  <!-- <ion-item>
      <select-searchable  (ionInput)="getItems($event)" [(ngModel)]="port" title="Portud" itemValueField="id" itemTextField="name" [items]="countryList " [canSearch]="true"> </select-searchable>
  </ion-item>


<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let module of countryList">
    <h2> {{ module.name }} </h2>
  </ion-item>
</ion-list>-->


  <ion-item>
      <ion-label floating>Question Title</ion-label>
    <ion-input type="text"  [(ngModel)]="title"></ion-input>
  </ion-item>
<br><br>
<ion-item>
  <ion-navbar color="theam" class="navbarBody">
    <ion-buttons end>
      <button ion-button (click)="capture()">
        <ion-icon name="ios-camera" style="zoom:2.0;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="loadFromLibrary()">
        <ion-icon name="ios-images" style="zoom:2.0;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <textarea class="textarea" placeholder="Enter your question here" (input)="adjustTextarea($event);" [(ngModel)]="question"
    required autosize> </textarea>
    
</ion-item>
<ion-input type="text" [(ngModel)]="URL" ></ion-input>

  <!--<ion-item>
  <ion-input type="text"  placeholder="module" [(ngModel)]="testing"></ion-input>
</ion-item>

<button ion-button (click)="enterModule()" >Add</button>-->

<div style="display:flex; flex-direction:column;justify-content:center">
    <button ion-button (click)="capture()">Lets take a picture!</button>
    
   
  </div>
  <button ion-button (click)="loadFromLibrary()">Load a picture!</button>
  <button ion-button (click)="upload()" *ngIf="captureDataUrl">Upload to Firebase!</button>
</ion-content>

<ion-footer>
<div class="sendDiv">
  <button ion-button (click)="addQuestion()" color="theam">Post&nbsp;&nbsp;<ion-icon name="send"></ion-icon></button>

</div>
</ion-footer>