page-signup {
   .card-content{
       background-color: #d9ad7c;
   }
   .ion-list{
    background-color: #d9ad7c;
   }
   .card-header{
       background-color: #523209;
       color: white
   }
   .item1{
       background-color: #fbefcc
       
   }
   .item3{
    background-color: #fbefcc
}
.item5{
    background-color: #fbefcc
}
.item7{
    background-color: #fbefcc
}

   ion-card.card {
    box-shadow: none;
    background:   #d9ad7c ;
    border-radius: 10px;
}

.content{
    background-image: url('../assets/imgs/books.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.signupbtn{
      background:#674d3c;
      border-radius: 10px;
}
}
