<!--
  Generated template for the MyDraftPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My Drafts</ion-title>
    <ion-buttons end>
        <button  ion-button icon-only (click)="deleteAlert()">
            <ion-icon name="md-trash"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding (ionScroll)="onScroll($event)">
<ion-list >

  <ion-item-sliding *ngFor="let draft of MyDraft_arry " >
    <ion-item (click)="viewdraft(draft,number)"> 
        <div><b> <p  text-wrap>{{draft?.title}}</p></b></div> 
        <div><i><p>{{draft?.module}}</p></i></div>
    </ion-item>
   
    <ion-item-options>
       <button ion-button expandable color="danger" (click)="deleteMyDraft(draft.$key)">Delete</button>
    </ion-item-options>
   </ion-item-sliding>

   </ion-list> 

   <ion-fab center bottom *ngIf="showMe" (click)="scroll()" class="myfab">
      <button ion-fab color="light" class="fabBtn">
        <ion-icon name="ios-arrow-up-outline"></ion-icon>
      </button>
    </ion-fab>

</ion-content>
