page-comments {
    .comment{
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
        background-color: burlywood;
    }
    .badge{
        border-radius: 30px !important;
        // padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
        background-color: burlywood;

    }
    .textarea{
        width: calc(80% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
        max-width: 80%; width: 80%; height: 8vh;
       
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding: 4px;
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
        background-color: burlywood;
    
    }

    .background-image {
        //position: fixed;
       // left: 0;
       // right: 0;
       // z-index: 1;
      
       // display: block;
        background-image: url('../assets/imgs/background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        
        

      }
      .btn{
        width: 10%;
        padding: 8px 5px;
        
        /* Styles */
        background: linear-gradient(rgba(21, 220, 255, 0.5), rgba(23, 88, 228, 0.7));    
       
       
        box-shadow: 
            inset 0 1px rgba(32, 8, 8, 0.4), 
            0 2px 1px rgba(0,0,0,0.1);
        cursor: pointer;
        transition: all 0.3s ease-out;
    
        /* Font styles */
        color: white;
        text-shadow: 0 1px 0 rgba(0,0,0,0.3);
        font-size: 14px;
       font-weight: bold;
        font-family: 'Raleway', 'Lato', Arial, sans-serif;
         
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
    }
  
    ion-row {

        .col2 {
    
            &:first-of-type {
    
                flex: 0 0 20px;
    
            }
        }
    }
}
